
    <div class=" cajaFooter font fontFooter">

        <div class="headerFooter">
            <p class=""> <i class="bi bi-house-door-fill"></i> Inventario Casa </p>
            
            <ul class=" menuFooter">
                <li class=""><a href="./" class=""> Inventario </a></li>
            </ul>
        </div>

    </div>